
.header {
  background-color: #222;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  padding: 20px;
  color: #2996eb;
}

form textarea {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  height: 250px;
  width: 100%;
}

form p {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  margin: 10px;
  font-size: 20px;
  color: gray;
}

.footer {
  background-color: #222;
  margin-top: 450px;
  padding: 0 0 50px;
}

.footer p {
  color: #2996eb;
  margin: auto;
}
